/*#### Header elements   ####*/

header {
  overflow: hidden;
  background: #e6b220;
  text-align: center;
}

#logo {
  width : 200px;
  float: left;
}

nav li {
    display: inline-block;
}

nav li a {

  display: block;
  padding: 1em;
}

nav a {
border : 2px solid #fff;
color : black;
padding : 14px;
text-decoration: none;
font-size: 25px;
border-radius: 50px;
}

/*#### Styles sur la video   ####*/

video {
  border : 2em solid #000;
  border-radius: 1em;
  display: block;
  width : 480px;
  margin: 2em auto;
}


/*#### Styles pour les navigations dans les pages   ####*/

.page-navigation-block {
  padding: 0.5em;
  background: black;
  overflow: hidden;
}

.page-navigation-block a {
  display: block;
  max-width: 220px;
  padding: 2em;
  color: #fff;
  font-size: 2em;
  font-weight: bold;

}

.next {
  float: right;
}

.previous {
  float: left;
}


content {
  max-width: 960px;
  margin : 0 auto;
  padding : 22px;
}

.content {
  max-width: 960px;
  margin : 0 auto;
  padding : 22px;
}

.section01 {
 background:#E6B220;
 margin: auto;
 text-align: center;


 }
.color-section {
  padding : 22px;
  border-radius: 89px;
  text-align: center;
}

 .section02 {
background:#E6B220;
  margin: auto;

 }
  .section03 {
   background:white;
   margin: auto;

  }

  .section05 {
   background:;
   margin: auto;

  }
